

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fjalla+One&family=Indie+Flower&family=Rubik+Pixels&family=Sedgwick+Ave+Display&display=swap');

.wrap {
    width: 1400px;
    height: 500px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-evenly;
}

.element {
    width: 200px;
    height: 200px;
    background-color: bisque;
    text-align: center;
    align-items: center;
}

h2 {
    text-align: center;

}
.rubik {
    font-family: "Rubik Pixels";
}
.sendgwick {
    font-family: "Sedgwick Ave Display";
}
.dancing {
    font-family:  "Dancing Script";
}
.fjala {
    font-family:  "Fjalla One";
}
.indie {
    font-family: "Indie Flower";
}